<script id="user-info" type="text/x-handlebars-template">

  <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Användaruppgifter</h4>
          </div>
          <div class="modal-body">
            <form action="#">
              <p id="error-message" class="text-center text-danger" style="display: none;"></p>

              <div class="form-group">
                <label for="username">Användarnamn:</label>
                <input type="text" class="form-control" id="username" value="{{username}}" {{#ifnoteq register true}} disabled {{/ifnoteq}}>
              </div>
      
              <div class="form-group">
                <label for="name">Namn:</label>
                <input type="text" class="form-control" id="name" value="{{name}}">
              </div>
      
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" value="{{email}}">
              </div>
              <div class="form-group">
                <label for="phonenr">Telefon:</label>
                <input type="text" class="form-control" id="phonenr" value="{{phonenr}}">
              </div>
              <br/>
      
              <div class="form-group">
                <label for="password">Lösenord:</label>
                <input type="password" id="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="confirm-password">Verifiera Lösenord:</label>
                <input type="password"  id="confirm-password" class="form-control">
              </div>

              {{#if register}}
              <input type="button" id="reg-or-update" class="btn btn-default" value="Skapa"/>
              {{else}}
              <input type="button" id="reg-or-update" class="btn btn-default" value="Uppdatera"/>
              {{/if}}

              <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </form>
          </div>
        </div>
      
      </div>
  
</script>


<script id="login" type="text/x-handlebars-template">
<div class="modal-dialog">
        
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Logga in</h4>
      </div>
      <div class="modal-body">


				<form action="#" method="post">
          <p id="error-message" class="text-center text-danger" style="display: none;"></p>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" class="form-control" id="username" name="username" placeholder="Användarnamn" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" id="password" name="password" placeholder="Lösenord">
						</div>
					</div>
					<div class="form-group">
						<button type="button" id="log-in" class="btn btn-primary btn-block btn-lg">Logga in</button>
					</div>
					<p class="hint-text"><a id="forgot-password" href="#">Glömt lösenord?</a></p>
				</form>





      </div>

  </div>
</div>
</script>



<script id="groups" type="text/x-handlebars-template">
  <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Grupper</h4>
            </div>
            <div class="modal-body">
              <p id="error-message" class="text-center text-danger" style="display: none;"></p>
              <span class="input-group">
                <input id="new-group" type="text" class="form-control" placeholder="Ny grupp">
                <div class="input-group-btn">
                  <button id="add-group" class="btn btn-default">Lägg till</button>
                </div>
              </span>
              <br />
              <div style="overflow:auto;">
                <h4>Mina grupper</h4>
              {{#each this}}
              <span class="input-group">
                <input type="text" class="form-control group-name" value="{{groupname}}" onkeyup="$(this).parent().find('.save-button').css('color', 'lightgreen').prop('disabled', false)">
                <div class="input-group-btn">
                  <button class="btn btn-link save-button" disabled title="Spara" onclick="updateGroup({{groupid}},$(this).parent().parent().find('.group-name').val(),$(this))"><span  class="glyphicon glyphicon-ok-sign"></span></button>
                  <button class="btn btn-link" title="Ta bort" onclick="deleteGroup({{groupid}},'{{groupname}}',$(this).parent().parent())"><span style="color:red" class="glyphicon glyphicon-remove"></span></button>
                </div>
              </span>
              {{/each}}





              </div>
            </div>
          </div>
        
        </div>
</script>




<script id="group-members" type="text/x-handlebars-template">
  <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Gruppens Medlemmar</h4>
            </div>
                <div class="modal-body">
              <p id="error-message" class="text-center text-danger" style="display: none;"></p>
              
              <div style="overflow:auto;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Namn</th>
                      <th scope="col">Email</th>
                      <th scope="col">Telefon</th>
                      <th scope="col">Anv-id</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each members}}
                    <tr>
                      <td nowrap>{{name}}</td>
                      <td nowrap>{{email}}</td>
                      <td nowrap>{{phonenr}}</td>
                      <td nowrap>{{username}}</td>
                      {{#if isDeletable}}
                        <td><span style="color:red;" class="glyphicon glyphicon-remove" onclick="removeMember('{{userid}}','{{groupid}}',$(this).parent().parent())"></span></td>
                      {{/if}}
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
                {{#if admin}}
                <br/>
                <h4 class="modal-title">Bjud in medlemmar</h4>
                <span class="input-group">
                <input id="invite-email" type="text" class="form-control" placeholder="email">
                <div class="input-group-btn">
                  <button id="invite-member" class="btn btn-default">Bjud in</button>
                </div>
                </span>
                <br/>
                <h4 class="modal-title">Skickade inbjudningar</h4>

                <div id="invites"  style="overflow-y:auto;height: 200px;">
                {{#each invites}}
                <p style="margin-bottom:0px;">{{email}}<span style="color:red;" class="glyphicon glyphicon-remove" onclick="removeInvite('{{email}}',$(this).parent())"></span></p>
                {{/each}}
                </div>

                

                {{/if}}
              </div>
            </div>
          </div>
        
        </div>
</script>


<script id="statistics" type="text/x-handlebars-template">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Spela</h4>
      </div>

      <div class="modal-body"></div>
              <div id="stat-table" style="max-height: 800px; overflow:auto; margin:10px">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th nowrap style="vertical-align:top" scope="col">Namn</th>
                      <th nowrap style="text-align:center" scope="col">Ordinarie Spel<BR/>(insats)</th>
                      <th nowrap style="text-align:center" scope="col">Extra spel<BR/>(insats)</th>
                      <th nowrap style="text-align:center" scope="col">Rätt/spel<BR/>(StrykTips)</th>
                      <th nowrap style="text-align:center" scope="col">Rätt/spel<BR/>(ToppTips)</th>
                      <th nowrap style="text-align:center" scope="col">Vinst<BR/>(Totalt)</th>
                      <th nowrap style="text-align:center"scope="col">Vinst<BR/>(Återstående)</th>

                    </tr>
                  </thead>
                  <tbody>
                    {{#each userStats}}
                    <tr>
                      <td nowrap style="text-align:center">{{name}}</td>
                      <td nowrap style="text-align:center"><b>{{games_ord}}</b> (<i>{{input_ord}} kr</i>)</td>
                      <td nowrap style="text-align:center"><b>{{games_extra}}</b>(<i>{{input_extra}} kr</i>)</td>
                      <td nowrap style="text-align:center">{{average_stryktips}}</td>
                      <td nowrap style="text-align:center">{{average_topptips}}</td>
                      <td nowrap style="text-align:center">{{win_brutto}} kr</td>
                      <td nowrap style="text-align:center">{{win_netto}} kr</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
           <br/> 
           <table class="table" style="width:60%">
             <tr>
               <td style="width:1px"><b>Totala insatser:</b></td>
               <td style="width:1px">{{totInput}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Totala vinster:</b></td>
               <td style="width:1px">{{totWin}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Total balans:</b></td>
               <td style="width:1px">{{balance}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Utbetalt:</b></td>
               <td style="width:1px">{{totPayments}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Återstående vinst:</b></td>
               <td style="width:1px">{{totNettoWin}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Återstående vinst per person:</b></td>
               <td style="width:1px">{{totNettoWinPerMember}} kr</td>
             </tr>
           </table>


    </div>
  </div> 
</script>



<script id="play" type="text/x-handlebars-template">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Spela</h4>
      </div>

      <div class="modal-body">

        <div class="panel with-nav-tabs panel-primary">
          <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    
                      <li title="Stryktipset" class="active"><a href="#stryk" data-toggle="tab"><img style="background:#00427a;width:60px;height: 30px;" src='/img/stryktipset.svg'></a></li>
                      <li title="Europatipset"><a href="#euro" data-toggle="tab"><img style="background:#008733;width:50px;height: 30px;" src='/img/europatipset.svg'></a></li>
                      <li title="Topptipset"><a href="#topp" data-toggle="tab"><img style="background:#f29400;width:50px;height: 30px;" src='/img/topptipset.svg'></a></li>
                    

          </div>
          <div class="panel-body">
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="stryk"></div>
                  <div class="tab-pane fade" id="euro"></div>
                  <div class="tab-pane fade" id="topp"></div>
              </div>
          </div>
          </div>
          
      </div>

      </div>
    </div>
  </div>
</script>


<script id="matches" type="text/x-handlebars-template">
  <h2>{{productName}}</h2>
  <p>Spelstopp:{{regCloseTime}}</p>

  <table class="bettingtable" style="width:100%;border-collapse: separate;border-spacing: 0 0.5em;" >
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 80%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 5%;">
   </colgroup>
   <tbody>
    {{#each draws}}
    <tr id="row-{{inc @index}}" class="draw-row">
      <td>{{inc @index}}.</td>
      <td>{{eventDescription}}</td>
      <td><button class="1x2">1</button></td>
      <td><button class="1x2">X</button></td>
      <td><button class="1x2">2</button></td>
    </tr>
    {{/each}}
   
    <tr> <td colspan="5" style="text-align: right;"><b>Antal rader:</b><b id="nr-of-rows">1</b></td></tr>
   </tbody>
  </table>
   <div>
    <button id="play" type="button" disabled class="btn btn-primary btn-lg pull-left">Spela</button>
  </div>
</script>



<script id="results" type="text/x-handlebars-template">
  <div id="draw-{{id}}" width="100%">
  {{#if (match product "Topptipset") }}  
    <H2><img style="background:#f29400;width:120px;height: 30px;" src='/img/topptipset.svg'></H2>
  {{/if}}
  {{#if (match product "Stryktipset") }}  
    <H2><img style="background:#00427a;width:60px;height: 30px;" src='/img/stryktipset.svg'></H2>
  {{/if}}
  {{#if (match product "Europatipset") }}  
    <H2><img style="background:#008733;width:50px;height: 30px;" src='/img/europatipset.svg'></H2>
  {{/if}}


  <table style="width:100%"">
    <tr>
      <td style="width:1%"><b>Spelare:<b></td>
      <td style="width:99%">{{created_by_name}}</td>
    </tr>
    <tr>
      <td><b>Datum:<b></td>
      <td>{{created}}</td>
    </tr>
  </table>
 
  <table class="bettingtable" style="width:80%;border-collapse: collapse;border-spacing: 0 0.5em;" >
    <colgroup>
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 94%;">
      <col span="1" style="width: 1%";>
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 1%;">
   </colgroup>
   <tbody>
    {{#each rows}}
    <tr id="row-{{rownr}}" class="draw-row">
      <td>{{rownr}}.</td>
      <td nowrap>{{teams}}</td>
      <td nowrap style="text-align:center">{{result}}</td>
      <td class="{{status1}} {{missed1}}"><button id="col-1" disabled class="1x2 {{on1}}">1</button></td>
      <td class="{{statusX}} {{missedX}}"><button id="col-X" disabled class="1x2 {{onX}}">X</button></td>
      <td class="{{status2}} {{missed2}}"><button id="col-2" disabled class="1x2 {{on2}}">2</button></td>
      {{#if (ne status "Inte startat") }} 
        {{#if isCorrect}}  
        <td style="padding-left: 10px;"><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        {{else}}
        <td style="padding-left: 10px;"><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        {{/if}}
      {{/if}}
    </tr>
    {{/each}}
   
    <tr> <td colspan="6" style="text-align: right;"><b>Antal rader:</b><b id="nr-of-rows">{{nrOfRows}}</b></td></tr>
   </tbody>
  </table>
  {{#if showDelete}} 
    <div>
      <button id="delete" type="button" class="btn btn-primary" style="margin-top: 5px;" onclick="deleteDraw({{id}})">Ta bort</button>
    </div>
  {{/if}}
  {{#ifnoteq drawstate "Open" }}
  <div>
    <table>
      <tr>
        <td style="padding-top: 5px;">
          <table class="table-condensed" style="border:1px solid">
            <tr>
              <th></th>
              <th>Antal</th>
              <th>Utdelning</th>
              <th>Totalt</th>
            </tr>
            {{#each results}}
            <tr>
              <td style="white-space:nowrap;padding-right: 5px;"><b>{{rights}} rätt</b></td>
              <td style="text-align: center;">{{rows}}</td>
              <td style="text-align: right;">{{worth}}kr</td>
              <td style="text-align: right;">{{total}}kr</td>
            </tr>
            {{/each}}
          </table>
          <td style="padding-left: 10px;padding-top:5px">
          <div class="circle">{{nrofrights}} Rätt</div>
        </td>

      </tr>
    </table>
    <p><b>Vinst: {{totalWin}} kr</b></td>
    </p>
  </div>
  {{/ifnoteq}}
  </div>
  <hr>
</script>



<script id="forgot-password" type="text/x-handlebars-template">
        <div class="modal-dialog" style="top:15%">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Glömt lösenord</h4>
            </div>
            <div class="modal-body">
              <p id="error-message" class="text-center text-danger" style="display: none;"></p>
              <p id="info">Ange användarnamn eller mail-adress så skickar vi en återställnings-länk!</p>
              <span class="input-group">
                <input id="userid" type="text" class="form-control" placeholder="användarnamn">
                <div class="input-group-btn">
                  <button id="send-mail-for-userid" class="btn btn-default forgot-password">Skicka</button>      
                </div>
              </span>
             <br/>
              <span class="input-group">
                <input id="email" type="text" class="form-control" placeholder="email">
                <div class="input-group-btn">
                  <button id="send-mail-for-mail-adr" class="btn btn-default forgot-password">Skicka</button>      
                </div>
              </span>
 
            </div>
          </div>
        
        </div>
</script>


<script id="reset-password" type="text/x-handlebars-template">
<div class="modal-dialog">
        
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Återställ lösenord</h4>
      </div>
      <div class="modal-body">


				<form action="#" method="post">
          <p id="error-message" class="text-center text-danger" style="display: none;"></p>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="password" class="form-control" id="password" name="password" placeholder="Nytt lösenord" >
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" id="password2" name="password2" placeholder="Bekräfta lösenord">
						</div>
					</div>
					<div class="form-group">
						<button type="button" id="reset-passw" class="btn btn-primary btn-block btn-lg">Uppdatera</button>
					</div>
				</form>





      </div>

  </div>
</div>
</script>

