

<script id="user-info" type="text/x-handlebars-template">
<div class="modal-content" style="height:100%; padding-bottom:100%;max-width:450px">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
.user-info-fields input[type=text],[type=password], select {
  width: 100%;
  padding: 5px 0px 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}





.user-info-fields label {
  color:#f6d403;
  margin-left: -10px;

}

.user-info-fields a {
  color:#f6d403;
}


.user-info-fields .sticky {
  position: sticky;
  bottom: 45px;
  background: #525252;
  width: 100%;
  text-align: left;

}

.user-info-fields div {
  border-radius: 5px;
  padding-left: 10px;
}

.user-info-fields input[type=button] {
  
    height: 45px;
    width: 80%;
    margin-top: 15px;
    margin-left:-10px;
}

</style>

<div class="user-info-fields">
<form action="">

                <label for="username">Användarnamn:</label>
                <input type="text"  id="username" value="{{username}}" {{#ifnoteq register true}} disabled {{/ifnoteq}}>
            
      

                <label for="name">Namn:</label>
                <input type="text"  id="name" value="{{name}}">
 
      
  
                <label for="email">Email:</label>
                <input type="text"  id="email" value="{{email}}">


                <label for="phonenr">Telefon:</label>
                <input type="text" id="phonenr" value="{{phonenr}}">
 
              <br/>
      
     
                <label for="password">Lösenord:</label>
                <input type="password" id="password">
         
              
                <label for="confirm-password">Verifiera Lösenord:</label>
                <input type="password"  id="confirm-password">
          
              <div>
              <input class="yellow-checkbox" type="checkbox" id="notify-me" name="notify-me" value="notify" style="margin-left: -25px;" {{#if sendremainder}} checked {{/if}} >
              <label for="notify-me" style="margin-left: 5px;"> Påminn mig när det är min tur att spela</label>
              </div>
              {{#if register}}
              <br/>
              <div>
              <input class="yellow-checkbox" type="checkbox" id="accept-terms" name="accept-terms" value="accept-terms" style="margin-left: -25px;">
              <label for="accept-terms" style="margin-left: 5px;"> Jag godkänner <a onclick="showUserTerms()" href="javascript:void(0);">Användarvillkor och integritetspolicy</a></label>
              </div>

                   
              {{/if}}


              <div class="sticky">
              {{#if register}}
              <input type="button" id="reg-or-update" class="round-button" value="Skapa"/>
              {{else}}
              <input type="button" id="reg-or-update" class="round-button" value="Uppdatera"/>
              {{/if}}
              </div>
            </form>

</div>
</script>


<script id="login" type="text/x-handlebars-template">
<div class="modal-content" style="" height:75%;max-width:450px">
  <div class="modal-header">
        <button type="button" class="close">&times;</button>
  </div>
<style>

 .login-input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

 .login-icon {
  padding: 10px;
  background: #f6d403;
  color: black;
  min-width: 20px;
  text-align: center;
  border-radius: 15px 0 0 15px;
}

 .login-input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 0 15px 15px 0;
  border-style: none;
}

 .login-input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.login-btn {
  border-radius: 45px;
    height: 45px;
    width: 100%;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

 .login-btn:hover {
  opacity: 1;
}
</style>

<form action="" style="max-width:500px;margin:auto">
  <div class="login-input-container">
    <i class="fa fa-user login-icon"></i>
    <input id="username" class="login-input-field" type="text" placeholder="Användarnamn" name="Användarnamn">
  </div>
  
  <div class="login-input-container">
    <i class="fa fa-key login-icon"></i>
    <input class="login-input-field" id="password" type="password" placeholder="Lösenord" name="password">
  </div>

  <button type="button" id="log-in" class="login-btn">Logga in</button>
  <p><a id="forgot-password" href="javascript:void(0);" style="color:#f6d403">Glömt lösenord?</a></p>
</form>

</div>
</script>

<script id="groups-old" type="text/x-handlebars-template">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
   .groups div {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.groups i {
  padding-left: 5px;
  min-width: 20px;
  text-align: center;
  font-size: 15px;
  
}

.middle {
  border-radius:0 0 0 0;
}

 .groups input[type=text] {
  width: 50%;
  padding: 5px 0px 5px 10px;
  outline: none;
  border-radius: 15px 0 0 15px;
  border-style: none;
}

 
.groups button {
    border-radius:0 15px 15px 0;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    cursor:pointer;
}
</style>

<h2 style="margin-bottom: 5px;">Skapa grupp</h2>
<div class="groups">
  <div>
    <input id="new-group" type="text" placeholder="Ny grupp">
    <button type="button" id="add-group">Lägg till</button>
  </div>
</div>

<h2 style="margin-bottom: 5px;">Ansök om medlemskap</h2>
<div class="groups">
  <div>
    <input id="apply-group" type="text" placeholder="Sök grupp">
    <button type="button" id="apply-membership">Ansök</button>
  </div>
</div>


<div style="overflow:auto;">
  <h2 style="margin-bottom: 5px;">Mina grupper</h2>
  {{#each this}}
    <div>
      <div class="groups" style="margin-bottom: 7px;">
        <input class="group-name" type="text" style="border-radius: 15px 0 0 15px;width:auto;" value="{{groupname}}" onkeyup="$(this).parent().find('.save-button').css('color', 'lightgreen').prop('disabled', false)">
        <i style="color:#428bca;" class="fa fa-check-circle save-button clickable" onclick="updateGroup({{groupid}},$(this).parent().find('.group-name').val(),$(this))"></i>
        <i style="color:red;" class="fa fa-remove clickable" onclick="deleteGroup({{groupid}},'{{groupname}}',$(this).parent())"></i>
      </div>
    </div>

  {{/each}}
</div>
</div>
</script>



<script id="groups" type="text/x-handlebars-template">
<div class="modal-content" style="height: 100%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
<style>
     .groups div {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.groups i {
  padding-left: 5px;
  min-width: 20px;
  text-align: center;
  font-size: 15px;
  
}

.middle {
  border-radius:0 0 0 0;
}

 .groups input[type=text] {
  width: 50%;
  padding: 5px 0px 5px 10px;
  outline: none;
  border-radius: 15px 0 0 15px;
  border-style: none;
}

 
.groups button {
    border-radius:0 15px 15px 0;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    cursor:pointer;
}

.tabbed {
  background: #626262;
  border-radius: 4px;
}

.tabbed h3 {
  margin-bottom: 0px;
}
</style>
    <div class="tabbed">
      <input name="tabbed" id="tabbed1" type="radio" checked>
      <section>
        <h1>
          <label for="tabbed1">Mina grupper</label>
        </h1>
        <div id="my-groups">
          <h3>Skapa grupp</h3>
          <p>Hitta på ett bra namn på tipsgruppen och bjud in dina vänner via menyn <a style="color:#f6d403;" href="javascript:configureGroupMembers();" onclick="">Medlemmar</a>.</p>
          <div class="groups">
            <div>
              <input id="new-group" type="text" placeholder="Ny grupp">
              <button type="button" id="add-group">Lägg till</button>
            </div>
          </div>

        <div style="overflow:auto;">
          <h3>Mina grupper</h3>
          <br/>
          {{#each this}}
            <div>
              <div class="groups" style="margin-bottom: 7px;">
                <input class="group-name" type="text" style="border-radius: 15px 0 0 15px;width:auto;" value="{{groupname}}" onkeyup="$(this).parent().find('.save-button').css('color', 'lightgreen').prop('disabled', false)">
                <i style="color:#428bca;" class="fa fa-check-circle save-button clickable" onclick="updateGroup({{groupid}},$(this).parent().find('.group-name').val(),$(this))"></i>
                <i style="color:red;" class="fa fa-remove clickable" onclick="deleteGroup({{groupid}},'{{groupname}}',$(this).parent())"></i>
              </div>
            </div>

          {{/each}}
        </div>          

        </div>
      </section>
      <input name="tabbed" id="tabbed2" type="radio">
      <section>
        <h1>
          <label for="tabbed2">Sök grupper</label>
        </h1>
        <div id="search-groups">
          <h3>Ansök om medlemskap</h3>
          <p>Här kan du söka upp och ansöka om medlemskap i någon annans grupp.</p>
          <div class="groups">
            <div>
              <input id="apply-group" type="text" placeholder="Sök grupp">
              <button type="button" id="apply-membership">Ansök</button>
            </div>
          </div>
        </div>
      </section>
    </div>


</div>
</script>





<script id="group-members" type="text/x-handlebars-template">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
 #invite {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

 #invite i {
  padding: 10px;
  background: #f6d403;
  color: black;
  min-width: 20px;
  text-align: center;
  border-radius: 15px 0 0 15px;
}

 #invite input[type=text] {
  width: 40%;
  padding: 5px 0px 5px 10px;
  outline: none;
  border-radius: 0 0 0 0;
  border-style: none;
}

 
#invite button {
    border-radius:0 15px 15px 0;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

#member-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background:#525252;

}


</style>

              <div style="max-height: 188px; overflow-y:auto;overflow-x:hidden" class="hor-scroll">
                <table class="table-bordered" id="member-table">
                  <thead>
                    <tr>
                      <th nowrap scope="col">Namn</th>
                      <th nowrap scope="col">Email</th>
                      <th nowrap scope="col">Telefon</th>
                      <th nowrap scope="col">Anv-id</th>
                      {{#if admin}}
                      <th nowrap style="border-style:none;" scope="col"></th>
                      <th nowrap style="border-style:none;" scope="col"></th>
                      {{/if}}
                      <th nowrap style="border-style:none;" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each members}}
                    <tr>
                      <td nowrap>{{name}}</td>
                      <td nowrap>{{email}}</td>
                      <td nowrap>{{phonenr}}</td>
                      <td nowrap>{{username}}</td>
                      {{#if ../admin}}
                        <td onclick="moveTableRow($(this).parent(),'up')"><i style="color:darkcyan;" class="fa fa-arrow-up clickable"></i></td>
                        <td onclick="moveTableRow($(this).parent(),'down')"><i style="color:darkcyan;" class="fa fa-arrow-down clickable"></i></td>
                      {{/if}}
                      <td id="sortorder" style="display: none;">{{sortorder}}</td>
                      {{#if isDeletable}}
                        <td style="border-style:none;"><i style="color:red;" class="fa fa-remove clickable" onclick="removeMember('{{userid}}','{{groupid}}',$(this).parent().parent())"></i></td>
                        <td style="border-style:none;width:15px"></td>
                      {{/if}}
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>

              {{#if admin}}
                <br/>
                <h2>Bjud in medlemmar</h2>
                <div id="invite">
                  <i class="fa fa-envelope"></i>
                  <input id="invite-email" type="text" placeholder="Ange mailadress" name="mail">
                  <button type="button" id="invite-member">Skicka</button>
                </div>
                <br/>
                <div>
                  <table id="invites">
                    <caption style="text-align: left;font-size:18px;white-space: nowrap;">Skickade inbjudningar</caption>
                    {{#if invites}}
                    {{#each invites}}
                    <tr>
                      <td style="padding-left: 5px;">{{email}}</td>
                      <td><i style="color:red;font-size:14px;" class="fa fa-remove clickable" onclick="removeInvite('{{email}}',$(this).parent().parent())"></i></td>
                    </tr>
                   {{/each}}
                   {{else}}
                      <tr id="empty-row">
                        <td style="padding-left: 5px;"><i>Inga skickade inbjudningar</i></td>
                      </tr>
                   {{/if}}

                  </table>
                  <br/>
                  
                  <table id="applications">
                    <caption style="text-align: left;font-size:18px;white-space: nowrap;">Mottagna medlemsansökningar</caption>
                    {{#if applications}}
                    {{#each applications}}
                    <tr>
                      <td style="padding-left: 5px;">{{applicant}}</td>
                      <td><i style="color:#00CF91;font-size:14px;padding-left: 10px;" class="fa fa-check clickable" onclick="addApplicant('{{userid}}',$(this).parent().parent())"></i></td>
                      <td><i style="color:red;font-size:14px;padding-left: 10px;" class="fa fa-remove clickable" onclick="removeApplicant('{{userid}}')"></i></td>
                    </tr>
                   {{/each}}
                   {{else}}
                      <tr id="empty-row">
                      <td style="padding-left: 5px;"><i>Inga ansökningar</i></td>
                      </tr>
                   {{/if}}

                  </table>

                  <br/>
                  <br/>
                </div>
                {{/if}}


</div>
</script>






<script id="statistics" type="text/x-handlebars-template">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>

#stat-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background:#525252;

}
</style>

              <div id="stat-table" style="max-height: 200px; overflow:auto; margin:10px" class="hor-scroll">
                <table class="table-bordered" id="stat-table">
                  <thead>
                    <tr>
                      <th nowrap style="vertical-align:top" scope="col">Namn</th>
                      <th nowrap style="text-align:center" scope="col">Rätt/spel<BR/>(Stryk/Euro)</th>
                      <th nowrap style="text-align:center" scope="col">Rätt/spel<BR/>(Topptips)</th>
                      <th nowrap style="text-align:center" scope="col">Ordinarie Spel<BR/>(insats)</th>
                      <th nowrap style="text-align:center" scope="col">Extra spel<BR/>(insats)</th>
                      <th nowrap style="text-align:center" scope="col">Vinst<BR/>(Totalt)</th>
                      <th nowrap style="text-align:center"scope="col">Vinst<BR/>(Återstående)</th>

                    </tr>
                  </thead>
                  <tbody>
                    {{#each userStats}}
                    <tr>
                      <td nowrap style="text-align:center">{{name}}</td>
                      <td nowrap style="text-align:center"><b> {{average_stryktips}}</b></td>
                      <td nowrap style="text-align:center"><b> {{average_topptips}}</b></td>
                      <td nowrap style="text-align:center"><b>{{#if (gt games_ord 0) }} {{games_ord}}</b> (<i>{{toLocalNumber input_ord}} kr</i>){{else}}0{{/if}}</td>
                      <td nowrap style="text-align:center"><b>{{#if (gt games_extra 0) }} {{games_extra}}</b> (<i>{{toLocalNumber input_extra}} kr</i>){{else}}0{{/if}}</td>
                      <td nowrap style="text-align:center">{{toLocalNumber win_brutto}} kr</td>
                      <td nowrap style="text-align:center">{{toLocalNumber win_netto}} kr</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
           <br/> 
           <table class="table" style="width:60%">
             <tr>
               <td style="width:1px"><b>Totala insatser:</b></td>
               <td style="width:1px">{{toLocalNumber totInput}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Totala vinster:</b></td>
               <td style="width:1px">{{toLocalNumber totWin}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Total balans:</b></td>
               <td style="width:1px">{{toLocalNumber balance}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Utbetalt:</b></td>
               <td style="width:1px">{{toLocalNumber totPayments}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Återstående vinst:</b></td>
               <td style="width:1px">{{toLocalNumber totNettoWin}} kr</td>
             </tr>
             <tr>
               <td style="width:1px"><b>Återstående vinst per person:</b></td>
               <td style="width:1px">{{toLocalNumber totNettoWinPerMember}} kr</td>
             </tr>
           </table>
      <br/>
      <br/>
      <br/>





</div>
</script>


<script id="events" type="text/x-handlebars-template">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>

#event-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background:#525252;

}

  #payments a {
  color:#f6d403;
  }
</style>



              <div  style="max-height: 200px; overflow:auto;margin:10px" class="hor-scroll">
                <table id="event-table" class="table-bordered">
                  <thead>
                    <tr>
                      <th nowrap style="text-align:center" scope="col">Datum</th>
                      <th nowrap style="text-align:center" scope="col">Händelse</th>
                      <th nowrap style="text-align:center" scope="col">Användare</th>
                      <th nowrap style="text-align:right" scope="col">Kostnad</th>
                      <th nowrap style="text-align:center" scope="col">Antal rätt</th>
                      <th nowrap style="text-align:right" scope="col">Vinst</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each events}}
                    <tr>
                      <td nowrap style="text-align:center">{{eventtime}}</td>
                      <td nowrap style="text-align:center">{{eventtype}}</td>
                      <td nowrap style="text-align:center">{{username}}</td>
                      <td nowrap style="text-align:right">{{toLocalNumber cost}} {{#if cost}}kr{{/if}}</td>
                      <td nowrap style="text-align:center">{{nrofrights}}</td>
                      <td nowrap style="text-align:right">{{toLocalNumber profit}} kr</td>
                      {{#if isDeletable}}
                        <td><i style="color:red;" class="fa fa-remove clickable" onclick="removeEvent({{id}},$(this).parent().parent())"></i></td>
                      {{/if}}

                    </tr>
                    {{/each}}
                    {{#if hasMorePages}} 
                    <tr>
                      <td colspan="5" style="border-style: none;"><input type="button" id="more" class="round-button" value="Mer..." onclick="getMoreEvents($(this),1)"/></td>
                    </tr>
                    {{/if}}
                  </tbody>
                </table>
              </div>

            {{#if (gt surplus 0) }}
            <br/>
             <div id="payments">
               <h2 style="margin:5px;">Gör utbetalning?</h2>
             <p style="margin:5px;">Du ligger just nu på <b>{{toLocalNumber surplus}} kr</b> plus.<a onclick="configurePayment({{surplus}})" href="javascript:void(0);"> Klicka här för att göra en utbetalning</a>!</p> 
            <br/>
            <br/>
            <br/>
            <br/>
             </div> 

              {{/if}}

          


</script>

<script id="payment" type="text/x-handlebars-template">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
#payment-sum {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

 #payment-sum label {
  padding: 10px;
  background: #f6d403;
  color: black;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 15px 0 0 15px;
}

 #payment-sum input[type=text] {
  width: 20%;
  padding: 5px 0px 5px 10px;
  outline: none;
  border-radius: 0 0 0 0;
  border-style: none;
}

#payment-sum span {
  padding: 10px;
  background: #f6d403;
  color: black;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 0 15px  15px 0;
}

#payment-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background:#525252;

}

</style>
<p>Grattis till vinsten!</p>
<p>Skriv totalsumman som skall utbetalas och tryck på <i>Utför</i>!<br/>
Ta ut vinsten från ditt konto hos Svenska Spel och skicka vidare till dina spelkompisar via Swish t.ex.</p>
        <div id="payment-sum">
          <label for="payment-amount">Summa:</label>
          <input id="payment-amount" type="text" value="{{surplus}}" onkeyup="$('.amount-per-member').text(($(this).val()/{{nrOfMembers}}).toFixed(2)+' kr')">
          <span>Kr</span>
        </div>

        <div  id="payment-div" style="max-height: 205px; overflow:auto; margin:10px" class="hor-scroll">
        <table id="payment-table" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th nowrap style="text-align:left" scope="col">Användare</th>
              <th nowrap style="text-align:left" scope="col">Mobil</th>
              <th nowrap style="text-align:left" scope="col">Utbetalning</th>
            </tr>
          </thead>
          <tbody>
            {{#each members}}
            <tr>
              <td nowrap style="text-align:left">{{name}}</td>
              <td nowrap style="text-align:left">{{phonenr}}</td>
              <td nowrap style="text-align:left" class="amount-per-member"></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
        <div class="form-check">
          <button type="button" class="round-button" onclick="makePayment($('#payment-amount').val(),{{surplus}},$('#mail-list').val())">Utför</button>
          <button type="button" class="round-button close-modal">Avbryt</button>
          &nbsp;&nbsp;
          <input type="checkbox" class="yellow-checkbox"  id="mail-list" value="true" checked>
          <label class="form-check-label" for="mail-list">Maila listan till mig</label>
            
        </div>




</div>
</script>





<script id="play" type="text/x-handlebars-template">
<div class="modal-content" style="height: 100%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
<style>
</style>
    <div class="tabbed">
      <input name="tabbed" id="tabbed1" type="radio" checked>
      <section>
        <h1>
          <label for="tabbed1"><img style="background:#00427a;width:60px;height: 30px;" src='img/stryktipset.svg'></label>
        </h1>
        <div id="stryk">
        </div>
      </section>
      <input name="tabbed" id="tabbed2" type="radio">
      <section>
        <h1>
          <label for="tabbed2"><img style="background:#008733;width:50px;height: 30px;" src='img/europatipset.svg'></label>
        </h1>
        <div id="euro">

        </div>
      </section>
      <input name="tabbed" id="tabbed3" type="radio">
      <section>
        <h1>
          <label for="tabbed3"><img style="background:#f29400;width:50px;height: 30px;" src='img/topptipset.svg'></label>
        </h1>
        <div id="topp">
        </div>
      </section>
    </div>


</div>
</script>






<script id="matches" type="text/x-handlebars-template">
<style>

  @media screen and (max-width: 1100px) {
  .play-table td {
    font-size: 12px !important;
    padding-top: 0px !important;
    padding-bottom: 1px !important;
    
  }
  }

</style>
<div style="overflow: auto;max-height: calc(100vh - 110px);">  
<h2 style="margin-bottom: 0;">{{productName}}</h2>
  {{#if (match productName "Topptipset") }}  
    {{setVar "productClass" "topptipset"}}
  {{/if}}
  {{#if (match productName "Stryktipset") }}  
    {{setVar "productClass" "stryktipset"}}
  {{/if}}
  {{#if (match productName "Europatipset") }}  
    {{setVar "productClass" "europatipset"}}
  {{/if}}
  <p style="margin-top: 0;">Spelstopp:{{regCloseTime}} </p>
  <p style="margin-bottom: 10;"><B>OBS!!</B> tänk på att det faktiska spelet måste göras på <a style="color:#f6d403;" href="https://spela.svenskaspel.se">Svenska spels sida</a></p>


  <button id="paste" type="button" class="round-button" onclick="getRowsFromClipBoard($(this),$(this).parent().find('.bettingtable'))">Klistra in</button>
  <span style="color: #f6d403;margin: 7px;font-size: 15px;" class="fa fa-info-circle clickable"  onclick='showPastingRowsInfo()'></span>

  <table class="bettingtable play-table" style="width:80%;border-collapse: collapse;border-spacing: 0 0.5em;max-width: 400px;min-width:300px;" >
    <colgroup>
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 80%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 5%;">
      <col span="1" style="width: 5%;">
   </colgroup>
   <tbody>
    {{#each draws}}
    <tr id="row-{{inc @index}}" class="draw-row">
      <td>{{inc @index}}.</td>
      <td>{{eventDescription}}</td>
      <td><button class="1x2 {{../productClass}} off" style="border-style: solid; margin-right:3px;">1</button></td>
      <td><button class="1x2 {{../productClass}} off" style="border-style: solid;margin-right:3px;">X</button></td>
      <td><button class="1x2 {{../productClass}} off" style="border-style: solid;">2</button></td>
    </tr>
    {{/each}}
   
    <tr> <td colspan="5" style="text-align: right;padding-top:4px"><b>Antal rader:</b><b id="nr-of-rows">1</b></td></tr>
   </tbody>
  </table>
  
   <div>
    <button id="play" type="button" disabled class="round-button" style="margin-right:12px;">Spela</button>
    <button id="clear" type="button" class="round-button" onclick="clearRows($(this).parent().parent().find('.bettingtable'))">Rensa</button>
  </div>
  </div>
</script>



<script id="results" type="text/x-handlebars-template">
<style>
      .blink {
        animation: blinker 1s ease 12;
      }
      @keyframes blinker {
      20% {
          opacity: 0.0;
        }
      }

</style>
  <div id="draw-{{id}}" width="100%" style="padding-bottom: 10px;">
  {{#if finalizedHeader}}<h3>{{finalizedHeader}}</h3> {{/if}}
  {{#if (match product "Topptipset") }}  
    <img style="background:#f29400;width:120px;height: 30px;" src='/img/topptipset.svg'>
    {{setVar "productClass" "topptipset"}}
  {{/if}}
  {{#if (match product "Stryktipset") }}  
    <img style="background:#00427a;width:125px;height: 30px;" src='/img/stryktipset.svg'>
    {{setVar "productClass" "stryktipset"}}
  {{/if}}
  {{#if (match product "Europatipset") }}  
    <img style="background:#008733;width:140px;height: 30px;" src='/img/europatipset.svg'>
    {{setVar "productClass" "europatipset"}}
  {{/if}}


  <table style="width:100%"">
    <tr>
      <td style="width:1%"><b>Spelare:<b></td>
      <td style="width:99%">{{created_by_name}} {{#ifeq extra_bet 1}}(<i>Extra spel</i>){{/ifeq}}</td>
    </tr>
    <tr>
      <td><b>Datum:<b></td>
      <td>{{created}}</td>
    </tr>
  </table>
 
  <table class="bettingtable" style="width:80%;border-collapse: collapse;border-spacing: 0 0.5em;max-width: 400px;" >
    <colgroup>
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 90%;">
      <col span="1" style="width: 4%;">
      <col span="1" style="width: 1%";>
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 1%;">
      <col span="1" style="width: 1%;">
   </colgroup>
   <tbody>
    {{#each rows}}
    <tr id="row-{{rownr}}" class="draw-row">
      <td>{{rownr}}.</td>
      <td nowrap>{{teams}}</td>
      <td style="color:#f6d403;text-align:right">{{#ifnoteq ../drawstate "Finalized" }} {{matchtime}} {{/ifnoteq}}</td>
      <td nowrap style="text-align:center" {{#if blink}}class="blink"{{/if}}>{{result}}</td>
      <td><button id="col-1" disabled class="1x2 {{status1}} {{../productClass}} {{on1}}">1</button></td>
      <td><button id="col-X" disabled class="1x2 {{statusX}} {{../productClass}} {{onX}}">X</button></td>
      <td><button id="col-2" disabled class="1x2 {{status2}} {{../productClass}} {{on2}}">2</button></td>
      {{#if (ne status "Inte startat") }} 
        {{#if isCorrect}}  
        <td style="padding-left: 10px;"><i style="color:#00CF91" class="fa fa-check"></i></td>
        {{else}}
        <td style="padding-left: 10px;"><i style="color:red;" class="fa fa-remove"></i></td>
        {{/if}}
      {{/if}}
    </tr>
    {{/each}}
   
    <tr> <td colspan="7" style="text-align: right;"><b>Antal rader:</b><b id="nr-of-rows">{{systemsize}}</b></td></tr>
   </tbody>
  </table>
  {{#if showDelete}} 
    <div>
      <button id="delete" type="button" class="round-button" style="margin-top: 5px;height:20px;width:fit-content" onclick="deleteDraw({{id}})">Ta bort</button>
    </div>
  {{/if}}
  {{#ifnoteq drawstate "Open" }}
  <div>
    <table>
      <tr>
        <td style="padding-top: 5px;">
          <table class="table-bordered" style="border-collapse: collapse;">
            <tr>
              <th></th>
              <th>Antal</th>
              <th>Utdelning</th>
              <th>Totalt</th>
            </tr>
            {{#each results}}
            <tr>
              <td style="white-space:nowrap;padding-right: 5px;"><b>{{rights}} rätt</b></td>
              <td style="text-align: center;">{{rows}}</td>
              <td style="text-align: right;">{{toLocalNumber worth}} kr</td>
              <td style="text-align: right;">{{toLocalNumber total}} kr</td>
            </tr>
            {{/each}}
          </table>
          <td style="padding-left: 10px;padding-top:5px">
          <div class="circle {{#if (gt totalWin 0)}} correct-color {{/if}}">
          <div style="padding-top: 3px;">{{nrofrights}}</div>
          <div style="font-size: 12px;">rätt</div></div>
        </td>

      </tr>
    </table>
    <p style="margin-top: 0px;"><b>Vinst: {{toLocalNumber totalWin}} kr</b></td>
    </p>
  </div>
  {{/ifnoteq}}
  <hr style="border-color:#626262; opacity: 0.2;">
  </div>
  
</script>


<script id="playing-order" type="text/x-handlebars-template">
<style>
  .playing-order h4 {
    margin-top: 2px;
    font-size: 15px;
    margin-bottom: 3px;
    color:#f6d403;
  }
   .playing-order p {
      margin-top: 0px;
      margin-bottom: 3px;
      margin-left: 5px;
   }

</style>
<div class="playing-order">
<h4>Aktuellt</h4>
{{#if lastPlayer }}
  <p><b>{{lastPlayer}}</b> spelade den <b>{{lastPlayed}}</b>.<br/>
{{/if}}
Nästa omgång spelar <b>{{nextInLine}}</b> {{#if runnerUp}} och därefter <b>{{runnerUp}}</b>{{/if}}.
{{#if extraBets }}
 <br/>
 <br/>
 <b>{{extraBets}}</b> ligger på plus och får gärna lägga ett extra spel!
{{/if}}
</p>
</div>


</script>


<script id="top-order" type="text/x-handlebars-template">
            
              <table>
                <caption style="color:#f6d403;font-size:15px;padding-top:0;padding-bottom: 3px;text-align: left"><b>Topplistan</b></caption>
                {{#each list}}
                <tr><td style="padding-right:5px"><b>{{pos}}.</b></td><td style="padding-right:20px">{{name}}</td><td style="text-align:left"><b>{{average}} {{#ifeq pos 1}}(antal rätt/spel) {{/ifeq}}</b></td></tr>
                {{/each}}
              </table>
</script>

<script id="forgot-password" type="text/x-handlebars-template">
<div class="modal-content" style="width:50%; height:75%;;min-width:250px;max-width:450px">
  <div class="modal-header">
        <button type="button" class="close">&times;</button>
  </div>
<style>

 .forgot-password div {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

 .forgot-password i {
  padding: 10px;
  background: #f6d403;
  color: black;
  min-width: 20px;
  text-align: center;
  border-radius: 15px 0 0 15px;
}

 .forgot-password input[type=text] {
  width: 100%;
  padding: 5px 0px 5px 10px;
  outline: none;
  border-radius: 0 0 0 0;
  border-style: none;
}

 
.forgot-password button {
    border-radius:0 15px 15px 0;
    height: 45px;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}


</style>
<br/>
<h2 style="color:#f6d403;">Glömt lösenord?</h2>
<p style="color:#f6d403;">Ange användarnamn eller mail-adress så skickar vi en återställnings-länk!</p>

<form action="" style="max-width:500px;margin:auto" class="forgot-password">
  <div>
    <i class="fa fa-user"></i>
    <input id="userid" type="text" placeholder="Användarnamn" name="Användarnamn">
    <button type="button" id="send-mail-for-userid" class="send-password">Skicka</button>
  </div>
  
  <div>
    <i class="fa fa-envelope"></i>
    <input id="email" type="text" placeholder="Mailaddress" name="mail">
    <button type="button" id="send-mail-for-mail-adr" class="send-password">Skicka</button>
  </div>

</form>

</div>
</script>


<script id="reset-password" type="text/x-handlebars-template">
<div class="modal-content" style="width:50%; height:100%; padding-bottom:100%;min-width:250px;max-width:450px">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
.user-info-fields input[type=text],[type=password], select {
  width: 100%;
  padding: 5px 0px 5px 10px;
  margin: 5px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-info-fields input[type=submit] {
  width: 100%;
  background-color: #f6d403;
  color:  black;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.user-info-fields label {
  color:#f6d403;
  margin-left: -10px;

}



.user-info-fields input[type=button] {
  border-radius: 45px;
    height: 45px;
    width: 80%;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
    margin-top: 15px;
    width:100%

    
}

</style>

<h2 style="color:white">Återställ lösenord!</h2>
<div class="user-info-fields">
<form action="">
                <label for="password">Lösenord:</label>
                <input type="password" id="password">

                <label for="confirm-password">Verifiera Lösenord:</label>
                <input type="password"  id="password2">

                
                <input type="button" id="reset-passw" value="Uppdatera"/>
</form>
</div>

</div>

</script>

<script id="payment-mail-template" type="text/x-handlebars-template">
<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}
</style>
</head>
<body>
 <p><b>Total summa:</b> {{toLocalNumber amount}} kr</p>
 {{{tablebody}}}
<br/>
 Mvh
 <br/>
 Tipsy
</body>
</html>
</script>



<script id="paste-rows" type="text/x-handlebars-template">
<div class="modal-content" style="width: 60%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
  <style>
  @media screen and (min-width: 1100px) {
  
    #paste-info img {
      width:30%;
    }
  }
  </style>

<h3>Att klistra in rader från Svenska spel</h3>

<h4>Gör så här:</h4>
<ol id="paste-info">
  <li style="margin: 20px;"><p>Logga in på Svenska spel och gå till <i>Mina Spel</i>.</p>
  <img src="img/mina-sidor.jpg" alt="Mina Sidor" width="50%" height="auto" style="border:2px solid black">
  <br/>
  </li>
  <li style="margin: 20px;"><p>Klicka på spelet som du vill kopiera raderna från. </p>
  <img src="img/games.jpg" alt="Mina spel" width="50%" height="auto" style="border:2px solid black">
  <br/>
  </li>
  <li style="margin: 20px;"><p>Scrolla ner och klicka på dela. </p>
  <img src="img/share-button.jpg" alt="dela" width="50%" height="auto" style="border:2px solid black">
    <br/>
  </li>  <li style="margin: 20px;"><p>Klicka på knappen <i>Kopiera länk</i>. </p>
  <img src="img/copy-link.jpg" alt="dela" width="50%" height="auto" style="border:2px solid black">
    <br/>
  </li>

  <li style="margin: 20px;"><p>Klart, gå tillbaks till Tipsy och klicka på <i>Klistra in</i> så kopieras raderna. </p>
  </li>


</ol>

<button type="button" class="round-button close-modal">Ok</button>

  <br/>
  <br/>
  <br/>
  <br/>
</div>

</script>


<script id="allow-paste-rows" type="text/x-handlebars-template">
<div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
<style>
   .paste-rows div {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.paste-rows i {
  padding-left: 5px;
  min-width: 20px;
  text-align: center;
  font-size: 15px;
  
}

 .paste-rows input[type=text] {
  width: 80%;
  padding: 5px 0px 5px 10px;
  outline: none;
  border-radius: 15px 0 0 15px;
  border-style: none;
}

.paste-rows button {
    border-radius:0 15px 15px 0;
    background: #f6d403;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-style: none;
}


  @media screen and (min-width: 1100px) {
  
    #allow-info img {
      width:30%;
    }
  }

</style>

<h3 class="modal-title">Klistra in rader</h3>
<p>Det verkar som att din browser inte tillåter automatisk inklistring.<br/><br/>
Men du kan klistra in länken manuellt här istället:</p>

<div class="paste-rows">
  <div>
    <input id="link-to-send" type="text" placeholder="Klistra in länk">
    <button type="button" id="send-link">Hämta</button>
  </div>
</div>

<h3>Tips</h3>
<p>Om du har en android-telefon kan du ge Tipsy tillåtelse till inklistring genom att göra så här:</p>

<ol id="allow-info">
  <li style="margin: 20px;"><p>Klicka på hänglåset.</p>
  <img src="img/padlock.jpg" alt="Hänglåset" width="50%" height="auto" style="border:2px solid black">
  <br/>
  </li>
  <li style="margin: 20px;"><p>Klicka på platsinställningar.</p>
  <img src="img/plats-installningar.jpg" alt="platsinställningar" width="50%" height="auto" style="border:2px solid black">
  <br/>
  </li>
  <li style="margin: 20px;"><p>Klicka på Urklipp. </p>
  <img src="img/clipboard.jpg" alt="dela" width="50%" height="auto" style="border:2px solid black">
    <br/>
  </li>  <li style="margin: 20px;"><p>Välj tillåt.</p>
  <img src="img/allow.jpg" alt="dela" width="50%" height="auto" style="border:2px solid black">
    <br/>
  </li>

  <li style="margin: 20px;"><p>Klart, nu borde det gå att klistra in.</p>
  </li>


</ol>

<button type="button" class="round-button" data-dismiss="modal">Ok</button>
<br/>
<br/>
<br/>
<br/>
</div>
</script>





<script id="send-row-link" type="text/x-handlebars-template">
  <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Klistra in länk</h4>
          </div>
          <div class="modal-body">
            <p>Klistra in länken som kopierades från Svenska Spel och tryck på Skicka</p>
            <form action="">
              <div class="form-group">
                <label for="name">Länk:</label>
                <input type="text" class="form-control" id="name" value="">
              </div>
              <input type="button" id="reg-or-update" class="btn btn-primary" value="Skicka"/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </form>
          </div>
        </div>
      
      </div>
</script>


<script id="user-terms" type="text/x-handlebars-template">
<div class="modal-content" style="width:80%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
</style>


<div style="overflow: auto;height:100%;">
<h1>Användarvillkor</h1>

<p>När du skapar ett användarkonto godkänner du i sin helhet de villkor som framgår nedan, vilka även inkluderar vår integritetspolicy. Tjänsterna tillhandahålls kostnadsfritt för dig i sitt standardutförande. </p>
<p>Villkoren för tjänsterna som erbjuds via Tipsy är tillämpliga oavsett från vilken plattform tjänsterna tillhandahålls. Med tjänsterna avses de funktioner i på tipsy.nu och som tillgängliggörs för den som har ett användarkonto. Avtal om ingående av tjänsterna så som registrering får inte ingås av personer under 18 år. </p>
<p>Tjänster hos Tipsy; åtkomst till gemensamma spel, realtiduppdateringar, prognoser och fastställd utdelning vid eventuell vinst. Därutöver funktioner som hanterar spelturordning, utgifter och intäkter, innestående medel och utbetalningar. Vänligen läs mer om tjänsterna under Kom igång.</p>
<p>Ett spel som läggs hos Tipsy är inte ett giltigt spel som vid eventuell vinst ger pengar till tipparen. För att ett spel ska vara giltigt måste det spelas hos Svenska spel. Vid en eventuell vinst betalas inga pengar ut via Tipsy. Som kund kan du heller inte sätta in eller ta ut pengar från Tipsy. </p>
<p>Du ansvarar för eventuella trafikavgifter som teleoperatören tar ut för skickande eller mottagande av data och/eller meddelanden vid registrering och vid användande av tjänsterna. </p>
<p>Tipsy ger dig genom godkännande av användarvillkoren en begränsad, icke-exklusiv och icke överlåtbar rätt att använda tjänsterna därinom. Om du inte följer villkoren kan rätten komma att återkallas. Om villkoren mellan dig och Tipsy upphör, upphör din rätt att använda tipsy.nu.</p>
Tipsy förbehåller sig även rätten att helt eller delvis och utan föregående meddelande, spärra tjänsterna för dig om vi misstänker att du; 
<ul>
  <li>obehörigen nyttjar annan persons inloggningsuppgifter;</li>
  <li>obehörigen låter annan nyttja persons inloggningsuppgifter; </li>
  <li>använder tjänsterna i strid mot användarvillkoren eller använder, eller har för avsikt att använda tjänsterna i strid med gällande lagstiftning (exempelvis bedrägerier, falska köp, falskt angivande av uppgifter eller liknande); eller</li>
  <li>använder tjänsterna på sådant sätt att Tipsy eller tredje person kan orsakas skada.</li>
</ul> 

<p>Tipsy har också rätt att spärra tjänsterna för dig utifrån teknisk säkerhetsmässig grund eller annan grund om Tipsy bedömer att det bör ske för att tjänsten, tredje person eller andra parters intressen. </p>
<p>Tipsy har rätt att utan föregående samtycke från dig, helt eller delvis, överlåta sina rättigheter och skyldigheter enligt användarvillkoren.</p>
<p>Tipsy ger inga garantier om tjänsterna och dess innehåll eller funktion. Tipsy ansvarar inte heller under några omständigheter för tekniska problem som kan uppstå hos tredje part (Svenska spel) exempelvis i anledning av problem med internetåtkomst, tekniska problem hos betaltjänstleverantörer, tekniska problem med användarens mobila enhet eller liknande. Tipsy friskriver sig från samtliga uttryckliga, underförstådda eller lagstadgade garantier.  </p>
<p>Tjänsterna är normalt tillgänglig dygnet runt alla dagar i veckan. Trots att Tipsy strävar efter att tillhandahålla dig tjänsterna utan teknisk störning, kan Tipsy inte garantera att tjänsterna alltid kommer att vara fullt tillgängliga eller fungera felfritt. Tipsy ansvarar inte heller under några omständigheter för tekniska problem som kan uppstå hos tredje part (Svenska spel), problem med internetåtkomst, tekniska problem med användarens mobila enhet eller liknande. Tipsy friskriver sig från samtliga uttryckliga, underförstådda eller lagstadgade garantier.  </p>
<p>Samtliga immateriella rättigheter, som exempelvis tekniska lösningar avseende tjänsterna tillhörande Tipsy, får endast användas inom ramen för tjänsterna. Du har således inte rätt att förändra tjänsterna på något sätt, kopiera, anpassa, hyra ut, låna ut, sälja, underlicensiera eller på annat sätt distribuera eller överlåta innehållet i tjänsterna.  </p>

<h1>Integritetspolicy</h1>
<p>Tipsy är personuppgiftsansvarig för behandling av de personuppgifter som du lämnar till Tipsy i samband med registrering av konto. All behandling av personuppgifter sker enligt gällande lagstiftning. Detta innebär bland annat att vi skyddar dina personuppgifter med nödvändiga åtgärder och att du alltid har rätt att kontakta oss för att få reda på vilka personuppgifter som vi har sparade om dig. </p>
<p>Tipsy behandlar de personuppgifter som lämnas till oss. Det kan vara namn, e-postadress, telefonnummer, spelstatistik, kostnader och intäkter som du lämnat till oss eller i övrigt är nödvändig för att vi ska kunna fullgöra våra åtaganden gentemot dig.</p>
<p>Dina personuppgifter används endast av Tipsy. Vi vidarebefordrar, säljer eller byter aldrig dina personuppgifter för marknadsföringsändamål till tredje part utanför Tipsy. Och vi lämnar inte ut personuppgifter till andra bolag om vi inte behöver göra detta på grund av lag, förordning eller myndighetsbeslut eller för att skydda våra rättigheter eller tredje parts rättigheter.</p>
<p>Begäran om registerutdrag, information eller rättning av felaktiga uppgifter skickas till:</p>
<p>Kontakt: tipsy@gmail.com </p>
<p>Tipsy.nu använder små textfiler, så kallade cookies, för att underlätta ditt surfande på sidan. Vi använder framförallt cookies för att samla in statistik om användarnas besök och för att förbättra upplevelsen. Det kan exempelvis handla om att val du gör på vår webbplats sparas. </p>

<div><button type="button" class="round-button close-modal">Ok</button></div>
<br/>
<br/>
<br/>

</div>
</div>

</script>


<script id="getting-started" type="text/x-handlebars-template">
<div class="modal-content" style="width:80%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
</style>
<h1>Allmänt</h1>
<p>För att kunna ta del av Tipsy’s alla tjänster krävs ett spelkonto hos Svenska spel. Tipsy redovisar endast målservice, antal rätt och utdelningsprognoser från Svenska spel. Därutöver finns ingen koppling mellan Tipsy och Svenska spel. Det innebär bland annat att en rad som tippas hos Tipsy även måste spelas hos Svenska spel för att vara giltig. Vid en eventuell vinst betalas inga pengar ut via Tipsy. Som användare kan du heller inte sätta in eller ta ut pengar från Tipsy.</p>

<h1>Skapa en grupp</h1>
<p>Som användare kan du <a style="color:#f6d403" href="javascript:configureGroups();">skapa en grupp</a>. Till gruppen kan du <a style="color:#f6d403" href="javascript:configureGroupMembers();">bjuda in flera användare</a>. Detta gör du genom att ange mejladressen för de personer som ska ingå i ert spelgäng. Den personen får en länk för vidare registrering av användare. </p>
Alla användare kan i sin tur skapa nya grupper och kan då tillhöra flera grupper.


<p>Som skapare av en grupp kan du när som helst lägga till eller ta bort medlemmar, utan problem. Adderas en person kommer den automatiskt först i spelturordningen (läs mer under Turordning). </p>
En gruppmedlem som blivit inbjuden till en grupp kan endast ta bort sig själv från en grupp. 

<h1>Gå med i en grupp</h1>
<p>Som användare kan du även gå med i en befintlig grupp. <a style="color:#f6d403" href="javascript:configureGroups();">Sök gruppens namn i menyn</a>. Välj grupp och ansök om medlemskap.</p>
<p>Som gruppadministratör får du ett mejl när någon ansöker om medlemskap i din grupp. Du kan då välja att <a style="color:#f6d403" href="javascript:configureGroupMembers();">acceptera eller neka personen medlemskap i din grupp</a>. Godkänns personen ingår hen i ditt tipsgäng.</p>
<h1>Turordning</h1>
<p>Tipsy hanterar turordningen för ordinarie spel enligt följande prioritering;</p>
<p>•	längst tid sedan senaste ordinarie spel</p>
<p>På så vis finns det en definierad turordning. Dock hanterar Tipsy ett eventuellt avsteg från turordningen i det fall någon annan än den som stod på tur lägger ett spel. Bytet innebär en ny turordning. Använd de gröna pilarna vid varje användare i gruppen för att ändra turordningen.</p>

<h1>Lägga ett spel</h1>
<p>Observera - ett spel som endast registreras hos Tipsy är inte ett giltigt spel och eventuella vinster kan ej avkrävas Tipsy.</p>
<p>Du kan antingen lägga ditt spel hos Svenska Spel och exportera det till Tipsy via delningsfunktionen som du finner längst ner vid ditt spel. Eller så lägger du ditt <a style="color:#f6d403" href="javascript:configurePlay();">spel på Tipsy</a> och exporterar det till Svenska spel.</p>



<h1>Ordinarie spel och extraspel</h1>
<p>Tipsy särredovisar ordinarie spel och extraspel. Ordinarie spel är det inom gruppen överenskomna spelet, exempelvis 64 rader Stryktips.</p>
<p>En spelare, som för gruppen förvaltar en vinst via sitt spelkonto hos Svenska spel, lägger ett nytt spel på Tipsy, får alltid frågan om spelet är ett ordinarie spel eller ett extraspel. Ordinarie spel ingår i statistiken medan extraspelen särredovisas. På så vis kan gruppen ha koll på vem som är skarpaste tipparen utifrån lika villkor.</p>

<p>Valet extraspel är endast synligt för den som har ett plussaldo på sitt konto hos Tipsy. Den som inte har ett plussaldo kan endast registreras för ordinarie spel.</p>

<h1>Vinster</h1>
<p>Alla eventuella vinster utbetalas av Svenska spel till den som lade omgångens spel. Tipsy hanterar endast redovisningen av vinsten för gruppens medlemmar. I redovisningen framgår storleken på vinsten, antal rätt, vem som vann och hur den ska fördelas om gruppen väljer att plocka ut vinsten. </p>


<p>Om gruppen väljer att inte plocka ut vinsten förvaltas vinsten (via spelarkonto hos Svenska spel) alltid av den användare som lade det vinnande spelet.</p>

<h1>Händelser</h1>
<p>Under fliken <a style="color:#f6d403" href="javascript:configureEvents();">Händelser</a> kan gruppen se all aktivitet kopplad till spel, vinster och uttag av vinster.</p>
<p>En användare som har ett plussaldo kan härifrån också välja att göra en utbetalning till gruppens medlemmar.</p>


<h1>Statistik</h1>

<p>Under fliken <a style="color:#f6d403" href="javascript:configureStatistics();">Statistik</a> har du som användare full koll på ert spelbolags finanser. Vilka intäkter och utgifter ni har haft under året. Vem av er som förvaltar vinster åt spelbolaget (via respektives konto hos Svenska spel). Och hur var och en har presterat.</p>

<p>Spel som innehåller 13 matcher (Stryktipset och Europatipset) samredovisas. </p>


<div><button type="button" class="round-button close-modal">Ok</button></div>
<br/>
<br/>
<br/>
</div>

</script>




<script id="more-info" type="text/x-handlebars-template">
  <div class="modal-dialog">
<div class="modal-content" style="width:80%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
  .more-info a {
  color:#f6d403;
  }

  .more-info p {
    margin-block-start: 0em;
    
  }

    .more-info h2 {
    margin-block-end: 4px;
  }
}
</style>

<div class="more-info">
<h2>Tipsy - vad är det?</h2>
<p>Tipsy är en gratistjänst för er som spelar Stryktipset, Topptipset eller Europatipset tillsammans. Oavsett vilka ni är, hur många ni är eller hur frekvent ni spelar så blir det enklare med Tipsy.</p>

<h2>Varför då?</h2>
<p>Med Tipsy kan samtliga i spelgänget ta del av era gemensamma spel i realtid (målservice, antal rätt och utdelningsprognoser). Dessutom håller Tipsy koll på turordning, vinster, utbetalningar och vem som är gängets bästa tippare samt annan skoj statistik.</p>
 
<h2>Ok, men hur funkar det?</h2>
<p>Börja med att skapa en användare och logga in. 
  Som inloggad kan du antingen skapa en grupp och skicka inbjudningar till personer som ska ingå i gruppen eller söka medlemskap i en befintlig grupp.

<p>Mer information finner du på <a href="https://instagram.com/tipsy.nu?igshid=1rxeis9l1zhil" target="_blank">@tipsy.nu</a> eller som inloggad under fliken Kom-igång.</p>      

<h2>"Take a tour"</h2>
<p>Vill du veta mer om hur det ser ut innan du skapar en egen användare och grupp så kan du logga in i <a href="javascript:demoLogin();" onclick="">Tipsy Demo</a></p>



<div><button type="button" class="round-button close-modal">Ok</button></div>
<br/>
<br/>
<br/>
</div>

  </div> 
</script>


<script id="contact" type="text/x-handlebars-template">
<div class="modal-content" style="width:50%;">
  <div class="modal-header">
  <button type="button" class="close">&times;</button>
  </div>
  <br/>
  <br/>
<style>
</style>
      <div class="contact"></div>
      <br/>
             <table class="" style="width:60%">
             <tr>
               <td style="width:32px"><img src="img/Mail-icon.png" alt="mail" ></td>
               <td style="padding-left: 10px;"><a style="color:#f6d403;" href="mailto:tipsy.nu@gmail.com">tipsy.nu@gmail.com</a></td>
             </tr>
             <tr>
               <td style="width:32px"><img src="img/icons8-instagram-48.png" alt="Instagram" ></td>
               <td style="padding-left: 10px;"><a style="color:#f6d403;" href="https://instagram.com/tipsy.nu?igshid=1rxeis9l1zhil" target="_blank">@tipsy.nu</a> </td>
             </tr>
             <tr>
               <td style="width:32px"><img src="img/icons8-facebook-48.png" alt="Facebook" ></td>
               <td style="padding-left: 10px;"><a style="color:#f6d403;" href="https://www.facebook.com/pg/tipsy.nu/posts/" target="_blank">@tipsy.nu</a> </td>
             </tr>
             </table>
             <br/>
             <br/>



          <button type="button" class="round-button close-modal" data-dismiss="modal">Ok</button>
  
  </div> 


</script>



